.initial-section {
  height: 100vh;
}
.center-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.container-img .logo-svg {
  margin-bottom: 4rem;
}

.keep-track-section {
  padding: 2rem 0;
}

.quick-search-section.center-section {
  flex-direction: row;
  align-items: center;
  margin-bottom: 7rem;
}

.img-desk img {
  width: 120%;
  position: relative;
  left: -40%;
}

.texts-container {
  text-align: left;
}
.img-device img {
  width: 80%;
  margin-bottom: 5rem;
}

.supercharge-section .container-workflow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: baseline;
  margin-bottom: 5rem;
}
.container-workflow .icon img {
  margin-bottom: 2rem;
}

.sponsors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 10rem;
  row-gap: 4rem;
}

.clipboard-section {
  margin-bottom: 10rem;
}

footer {
  background-color: hsla(202, 11%, 66%, 0.301);
  padding: 3rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .logo img {
  width: 50%;
}
footer .container .content-container {
  display: flex;
  gap: 4rem;
}
footer a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}
footer a p {
  margin-bottom: 1rem;
}
.social-icons img:nth-child(2) {
  margin: 0 2rem;
}
