@media (max-width: 1000px) {
  .quick-search-section.center-section {
    flex-direction: column;
  }
  .img-desk img {
    left: 0;
    margin-bottom: 5rem;
  }
  .texts-container {
    text-align: center;
  }
  .text.other-padding {
    padding: 0;
  }
}
@media (max-width: 890px) {
  .text {
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  .contaier-btn {
    flex-direction: column;
  }
}
